mixin scripts
  script(src='/lib/jquery/dist/jquery.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

mixin stylesheets
  link(rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='css/stylesheet.css')


doctype html
html(lang='en-UK')
  head
    title D O O K S
    +stylesheets()
  body
    .container
      block content
    .container
  +scripts()
